*{
box-sizing: border-box;
}

body{
margin:0;
}

@font-face{
font-family: "Shrikhand-Regular";
src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face{
font-family: "Roboto-Regular";
src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face{
font-family: "Roboto-Bold";
src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

p{
    font-family: "Roboto-Regular";
    line-height: 40px;
    height: auto;
    vertical-align: middle;
    /* background-color: green; */
}

.site_title{
    font-family: "Shrikhand-Regular";
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    line-height: 10px;
}

.restaurant_pic img{
    /* width: 358px; */
    height: 280px;
    width: 100%;
    /* object-fit: fill; */
    /* object-fit: contain; */
    object-fit: cover;
    /* z-index: -1; */
    /* object-fit: none; */
    /* object-fit: scale-down; */
}

.menu{
    z-index: 1;
}

.restaurent_header_contener{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    line-height: 0px;
    background-color: #f6f6f6;
    font-family: "Shrikhand-Regular";
    font-size: 1.2em;
    margin-top: -40px;
    z-index: 1;
    border-radius: 20px 20px 0 0;
}

.heart_logo{
    position: absolute;
    left: 96%;
    transition-property:display:flex;
    transition-duration: 1000ms;
    background-color: #f6f6f6;
}

.heart_logo:hover{
    opacity: 0;
}

.heart_logo_full{
    position: absolute;
    margin-right: 20px;
    left: 96%;
    height: ;
    z-index: -1;
}

.contener_menu_type{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f6f6f6;
}

.menu_type{
    background-color:#f6f6f6;
    padding:0px 20px 0px 20px;
}

.green_line{
    width: 30px;
    border-top: 3px solid #99E2D0;
    margin-top:-25px;
}

.item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin-top:10px;
    height: 60px;
    width: 320px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

#starters{
    animation: slideup 3000ms;
}

#mains{
    animation: menuhide, slideup;
    animation-duration: 1000ms,1000ms;
    animation-delay:0ms,500ms;
}

#desserts{
    animation: menuhide, slideup;
    animation-duration: 2000ms,1000ms;
    animation-delay:0ms,1000ms;
}

@keyframes menuhide{
    from{
        opacity: 0;
    }

    to{
        opacity: 0;
    }

}

@keyframes slideup {

    from{
        transform: translateY(20px);
        opacity:0;
    }

    to{
        transform: translateY(0);
        opacity:1;
    }
}


.dish_description{
    width: 100%; /*300px;  */
}

.dish_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Roboto-Bold";
}

.dish_description_and_prix{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "Roboto-Regular";
    font-size: 0.85em;

}

.description{
    padding-left:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    width: 30px;
    font-family: "Roboto-Bold";
    /* margin-left: 50px; */
}


.check_price{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    transition-property: width;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    width: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #99E2D0;
}


 .item:hover .check_price{
    width: 100px;
    transition-duration: 500ms;
    background-color: #99E2D0;

}

.contener_icone_check{

    transition-property: rotate(180deg);
    transition-duration: 500ms;
}

.item:hover .contener_icone_check{
    transform: rotate(360deg);
    width: auto;
}

.contener_btn_order{
    width:100%;
    height: 200px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    background-color: #FF79DA;
    background-image: linear-gradient(170deg,#FF79DA ,#9356DC );
    box-shadow: -19px 25px 30px -3px rgba(0,0,0,0.56);
    transition-property:box-shadow;
    /* transition-duration: 500ms; */
    transition-property:opacity;
    transition-duration: 500ms;
    opacity: 1;
    color:white;
    cursor: pointer;
}

.btn_order:hover{
    box-shadow: -19px 22px 15px -3px rgba(0,0,0,0.56);
    opacity: 0.7;
}

footer{
    padding:15px;
    background-color: #353535;
    color:white;
}

.ohmyfooter{
    font-family: "Shrikhand-Regular";
    margin-bottom: 20px;
    cursor: pointer;
}

.icone_and_text_footer{
    display: flex;
    font-family: "Roboto-bold";
    font-size:0.9em;
}

.text_icone_footer {
    margin:0px 0px 0 10px;
    cursor: pointer;
}

.text_footer{
    font-family: "Roboto-regular";
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.text_footer a:link{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 735px) {
    .contener_menu_type{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f6f6f6;
    }

    .heart_logo{
        position: absolute;
        left: 90%;
        transition-property:display:flex;
        transition-duration: 1000ms;
        background-color: #f6f6f6;
    }


    .heart_logo_full{
        position: absolute;
        margin-right: 20px;
        left: 90%;
        height: ;
        z-index: -1;
    }

}
