@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@font-face{
font-family: "Shrikhand-Regular";
src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face{
font-family: "Roboto-Regular";
src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face{
font-family: "Roboto-Bold";
src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

a{
    text-decoration: none;
    color:black;
}

p{
    font-family: "Roboto-Regular";
    height: auto;
    vertical-align: middle;
    /* margin-left:10px; */
}

.banner{
    display: flex;
}

.return_arrow{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 30px;
    color:black;
    font-size:1.5em;
    vertical-align: middle;
}

.site_title{
    font-family: "Shrikhand-Regular";
    font-size: 3em;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.restaurant_pic img{
    /* width: 358px; */
    height: 280px;
    width: 100%;
    /* object-fit: fill; */
    /* object-fit: contain; */
    object-fit: cover;
    /* z-index: -1; */
    /* object-fit: none; */
    /* object-fit: scale-down; */
}

.restaurent_name{
    font-size: 2em;
}

.menu{
    z-index: 1;
}

.restaurent_header_contener{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 20px;
    line-height: 0px;
    background-color: #f6f6f6;
    font-family: "Shrikhand-Regular";
    font-size: 1.2em;
    margin-top: -40px;
    z-index: 1;
    border-radius: 20px 20px 0 0;
}

.heart_logo{
    position: absolute;
    left: 96%;
    transition-property:opacity;
    transition-duration: 1000ms;
    background-color: #f6f6f6;
}

.heart_logo:hover{
    opacity: 0;
}

.heart_logo_full{
    position: absolute;
    margin-right: 20px;
    left: 96%;
    z-index: -1;
    color: #FF79DA;
}

.contener_menu_type{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f6f6f6;
}

.menu_type{
    background-color:#f6f6f6;
    padding:0px 20px 20px 20px;
}

.green_line{
    width: 30px;
    border-top: 3px solid #99E2D0;
    /* margin-left:10px;  */
}

.item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin-top:10px;
    height: 60px;
    width: 320px;
    cursor: pointer;
    overflow:hidden;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

.starters{
    animation: slideup 3000ms;
}

.mains{
    animation: menuhide, slideup;
    animation-duration: 1000ms,1000ms;
    animation-delay:0ms,500ms;
}

.desserts{
    animation: menuhide, slideup;
    animation-duration: 2000ms,1000ms;
    animation-delay:0ms,1000ms;
}

@keyframes menuhide{
    from{
        opacity: 0;
    }

    to{
        opacity: 0;
    }
}

@keyframes slideup {

    from{
        transform: translateY(20px);
        opacity:0;
    }

    to{
        transform: translateY(0);
        opacity:1;
    }
}

.dish_description{
    width: 100%; /*300px;  */
}

.dish_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Roboto-Bold";
}

.dish_description_and_prix{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "Roboto-Regular";
    font-size: 0.85em;
}

.description{
    padding-left:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 270px;
    transition-property: width;
    transition-duration: 500ms;
    

}

.price{
    width: 30px;
    font-family: "Roboto-Bold";
    width: 25px;
    margin-right: 20px;
}

.check_price{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    transition-property: width;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    width: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #99E2D0;
}


 .item:hover .check_price{
    width: 100px;
    transition-duration: 500ms;
    background-color: #99E2D0;
}

.item:hover .description{
    width: 240px;
    transition-property: width;
    transition-duration: 500ms;
}

.contener_icone_check{
    transition-property: rotate(180deg);
    transition-duration: 500ms;
}

.item:hover .contener_icone_check{
    transform: rotate(360deg);
    width: auto;
}

.contener_btn_order{
    width:100%;
    height: 200px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    background-color: #FF79DA;
    background-image: linear-gradient(170deg,#FF79DA ,#9356DC );
    box-shadow: -19px 25px 30px -3px rgba(0,0,0,0.56);
    transition-property:box-shadow;
    transition-property:opacity;
    transition-duration: 500ms;
    opacity: 1;
    color:white;
    cursor: pointer;
}

.btn_order:hover{
    box-shadow: -19px 22px 15px -3px rgba(0,0,0,0.56);
    opacity: 0.7;
}

footer{
    padding:15px;
    background-color: #353535;
    color:white;
}

.ohmyfooter{
    font-family: "Shrikhand-Regular";
    margin-bottom: 20px;
    cursor: pointer;
}

.icone_and_text_footer{
    display: flex;
    font-family: "Roboto-bold";
    font-size:0.9em;
}

.text_icone_footer {
    margin:0px 0px 0 10px;
    cursor: pointer;
}

.text_footer{
    font-family: "Roboto-regular";
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.text_footer a:link{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 735px) {
    .contener_menu_type{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f6f6f6;
    }

    .heart_logo{
        position: absolute;
        left: 90%;
        transition-property: display;
        transition-duration: 1000ms;
        background-color: #f6f6f6;
    }

    .heart_logo_full{
        position: absolute;
        margin-right: 20px;
        left: 90%;
        z-index: -1;
    }

}

@media screen and (max-width: 400px) {

.restaurent_header_contener{
    font-size: 0.87em;
    }

.menu_type{
    background-color:#f6f6f6;
    padding:0px 0px 20px 0px;
    }

.item{
    width: 280px;
    }

.item_how_it_works{

    width: 200px;

    }

}



/*****************************************HOME PAGE***************************************************************/
.home_shadow_banner{
    height: 70px;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.59);
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(169, 169, 169, 0.603);
}

.map_logo{
    width: 30px;
    text-align: center;
}

.location_name{
    font-family: "Roboto-Regular";
}

.book_the_menu{
    background-color: #f6f6f6;
    text-align: center;
}

h3{
    font-family: "Roboto-bold";
    padding-top:40px;
}

h4{    
    font-family: "Roboto-regular";
    padding: 0px 40px 0px 40px; 
    margin-top:40px;
}
#discover {
    font-family: "Roboto-regular";
    text-align: center;
    padding: 0px 40px 0px 40px; 
    margin-top:40px;
}

.how_it_works_session{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px 20px 20px;
}

.how_it_works{
    font-family: "Roboto-bold";
    padding:40px 0px 0px 20px;
}

.contener_item_how_it_works{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.item_how_it_works{
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 320px;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: -11px 10px 17px -1px rgba(0,0,0,0.47);
}

.item_how_it_works:hover{
    background-color: #9256dc3a;
}

.number{
    position: absolute;
    z-index: 1;
    top:50%;
    left:0;
    transform: translate(-50%,-50%);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    text-align: center;
    font-family: "Roboto-regular";
    color:white;
    background-color: #9356DC;
}

.icone_how_it_works{
    padding:0 20px 0 20px;
}

.item_how_it_works:hover .icone_how_it_works{
    color:#9356DC;
}

.item_how_it_works p{
    font-family: "Roboto-bold";
}

.contener_all_restaurants{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding-bottom: 40px;
}

.titre_restaurant{ 
    display: flex;
    width: 100%;
    font-family: "Roboto-bold";
    padding: 20px 0 20px 20px;
    background-color: #f6f6f6;
}

.restaurent_description{
    position:relative;
    width: 300px;
    height: 270px;
    border-radius: 20px;
    box-shadow: -9px 18px 15px 1px rgba(0,0,0,0.47);
    margin:20px;
}

img{
    border-radius:  20px 20px 0 0;
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.new{
position: absolute;
left:220px;
top:20px;
width:70px;
height:30px;
border-radius: 3px;
text-align: center;
line-height: 33px;
background-color: #99E2D0;
font-family:Roboto-Regular;
}

.restaurent_description h3, h4{
    padding:5px 0 0 20px;
    margin:0
}

.contener_text_description_restaurant{
    position: relative;
    width: 300px;
}

.heart_logo_restaurent{
    position: absolute;
    left: 270px;
    top:6px;
    z-index: 1;
    opacity: 1;
    transition-property:all;
    transition-duration: 2000ms;
    transition-timing-function: linear;
    background-color: #f6f6f6;
}

.heart_logo_restaurent:hover{
    opacity: 0;
    z-index: -1;
}

.heart_logo_full_restaurent{
    position: absolute;
    left: 270px;
    top:6px;
    z-index: 0;
    color: #FF79DA;
}

.loader_mask{
    animation: loader_hider;
    animation-duration: 3s;
}

@keyframes loader_hider{
    from{
        opacity: 0;
    }

    to{
        opacity: 0;
    }
}


.spiner{
    opacity:0;
    animation: spiner_hider;
    animation-duration: 3s;
}

@keyframes spiner_hider{
    from{
        opacity: 1;
    }

    to{
        opacity: 1;
    }
}

.ring{
    display: inline;
    position: fixed;
    z-index:2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 180px;
    background-color: transparent;
    border:10px solid #FF79DA  ;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-family: Shrikhand-Regular;
    font-size: 20px;
    color:#9256dc;
    letter-spacing: 4px;
    text-shadow: -10px 10px 10px #9256dc;
    box-shadow: 0 0 50px#FF79DA;
}

.ring::before{
    content:'';
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    border: 3 solid  #99E2D0;
    border-top: 5px solid #99E2D0;
    border-left: 5px solid #99E2D0;
    border-radius: 50%;
    animation: animateCircle 2s linear infinite;
}

span{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    width:50%;
    height: 0px;
    background-color: rgba(64, 224, 208, 0);
    transform-origin:left;
    animation: animate 2s linear infinite;

}

span::before{
    content:'';
    position:absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #99E2D0;
    top:20px;
    right:-6px;
    box-shadow: 10px 10px 30px #99E2D0;
}

@keyframes animateCircle {
    0%
    {
        transform: rotate(20deg);

    }
    100%
    {
        transform: rotate(340deg);
        
    }
}

@keyframes animate {
    0%
    {
        transform: rotate(-140deg);

    }
    100%
    {
        transform: rotate(220deg);
        
    }
}

@keyframes hide_spiner{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

.my_food_is_coming{
    padding-top: 10px;
    font-family: Shrikhand-Regular;
    font-size: 15px;  
}

@media screen and (max-width:1060px) {

    .how_it_works_session{
        flex-direction: column;
        justify-content: center;
        height: 100%;
        }

    .how_it_works{
        margin-top:30px;
        margin-left:20px;
        padding:0px;
        }
    
    }

    @media screen and (max-width: 400px) {
       
        .item_how_it_works{
            width: 280px;
            }
        }



